<link rel="stylesheet" href="/css/navbar.css">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/tickets">
            <img src="/images/ticketFavicon.png" alt="" style="height: 24px;"> SWR Ticket System
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item text-center">
                    <a class="nav-link" aria-current="page" href="/tickets">Home</a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link" href="/tickets/generate">Generate Report</a>
                </li>
                <li class="nav-item text-center">
                    <a class="btn btn-warning btn-block" href="/tickets/new">New Ticket</a>
                </li>
            </ul>
            <form class="d-flex ms-auto me-2" action="/tickets" role="search">
                <input name="search" id="globalsearchBar" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>
            </form>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <% if (!currentUser) { %> 
                    <li class="nav-item text-center">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                <% } else { %>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
