<%- layout('layouts/boilerplate') %>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h4 class="display"><%= err.message %></h4>
            <p><%= err.status %></p>
            <p><%= err.stack %></p>
            <a id="backButton" href="/tickets" class="btn btn-primary">Go To Home</a>
        </div>
    </div>
</div>

<script>
    document.querySelector('#backButton').addEventListener('click', function() {
        history.back();
    })
</script>

