<% layout("layouts/boilerplate") %>
    <link rel="stylesheet" href="/css/generatePage.css">

    <div class="container-sm mt-4">
        <div class="mb-1">
            <h1 class="text-center">Generate Report</h1>
            <div class="row mb-2">
                <div class="col-6 text-start">
                    <button id="backButton" class="btn btn-primary d-inline">Back</button>
                </div>
                <div class="col-6 text-end">
                    <button id="resetButton" class="btn btn-warning">Reset</button>
                </div>
            </div>
        </div>

        <form id="generateForm" action="/tickets/report/print">
            <%- include('../partials/filter') %>
                <div class="text-center">
                    <button style="width: 200px;" class="btn btn btn-success">View Report</button>
                </div>

        </form>
    </div>


    <script src="/js/generatePage.js"></script>