*/.DS_Store
*.DS_Store
node_modules/.DS_Store
node_modules/cssstyle/.DS_Store

*.env
node_modules/.DS_Store
*.pdf
*.jpeg
*.jpg
*.png
*.gif
*.docx
*.doc
*.xls
*.xlsx

attachments/1718288833389.txt
node_modules/.DS_Store
