<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        SWR Ticketing System
    </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/print.css" media="print">
</head>

<body>

    <%- include('../partials/navbar') %>

        <main>
            <%- body %>
        </main>

        <%- include('../partials/footer') %>

            <!-- bootstrap -->
            <script src="/js/bootstrap.min.js"></script>
            <script src="/js/jquery.js"></script>
            <script src="/js/validateForms.js"></script>
        

            <!-- vivid icons -->
            <!-- <script src="https://cdn.jsdelivr.net/npm/vivid-icons@1.0.10" type="text/javascript"></script>
            <script src="https://unpkg.com/vivid-icons@1.0.10" type="text/javascript"></script> -->
            
</body>

</html>