.navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar-nav .nav-link {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar-brand img {
    height: 24px; /* Adjust the height to make the navbar thinner */
}

.nav-item .btn {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

@media (max-width: 992px) {
    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav .nav-item {
        width: 100%;
    }

    .navbar-nav .nav-item a,
    .navbar-nav .nav-item .btn {
        width: 100%;
        margin: 0.2rem 0; /* Reduce top and bottom margin to decrease spacing */
    }
}