label {
    font-weight: bold;
}
input[type="radio"] + label {
    font-weight: normal;
}
textarea::placeholder {
    color: red !important; /* Change to your desired color */
    opacity: 0.7 !important;
}