#attachmentSection {
    display: none;
}
@media print {

    #imageSection,
    #pdfSection,
    #docsSection,
    #editDeleteButtons {
        display: none;
    }
    #attachmentSection {
        display: block;
    }
}

