body  {
 background-color: #E7E7E7;
}

.nav {
    background-color: #F39237;
}

.overflow-wrap-break-word {
    overflow-wrap: break-word;
}

@media print {
    .btn {
        display: none !important;
    }

    .navbar {
        display: none !important;
    }
}