<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Priority Definitions</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-sm mt-4">
                    <h2>Are you sure you want to delete SWR Ticket <%= ticket.swrNum %>?</h2>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button form="deleteForm" type="submit" class="btn btn-danger" data-bs-dismiss="modal">Delete 
                    <img src="/images/svg/trash.svg" alt="trashcan" height="22" width="20" />
                </button>
            </div>
        </div>
    </div>
</div>