<style>
.enlarge {
    max-width: 100%;
}
</style>
<!-- Modal -->
<div class="modal fade" id="enlargeImage-<%=i%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Image</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div> -->
            <div class="modal-body">
                 <img class="enlarge"  src="/attachments<%= attach.url %>" alt="">
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div> -->
        </div>
    </div>
</div>