<!-- Modal -->
<div class="modal fade" id="infoButton" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Priority Definitions</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-sm mt-4">
                    <p>
                        1: Critical to current training in development. Training cannot proceed without the problem
                        being corrected. The initiator shall submit a condition report.
                    </p>
                    <p>
                        2: Training can be performed but may require instructor work around. If the condition is
                        adverse to quality of the training being performed, the initiator shall submit a condition
                        report.
                    </p>
                    <p>
                        3: Correct when work can be performed efficiently.
                    </p>
                    <p>
                        4: Pending Reference Unit change or enhancement request.
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>