<%- layout('layouts/boilerplate') %>

    <div class="container mt-5 offset-3 col-6">
        <h1 class="text-center">Login</h1>
        <form action="/login" method="post" class="validated-form" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
                <div class="invalid-feedback">
                    Please enter a username.
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
                <div class="invalid-feedback">
                    Incorrect password.
                </div>
            </div>

            <div class="row">
                <div class="d-inline col-8">
                    <a href="/register">
                        Create Account
                    </a>
                </div>
                <div class="d-inline col-4 text-end">
                    <button class="btn btn-success">Login</button>
                </div>
            </div>

        </form>
    </div>